.trackserver-infobar-container {
	background: rgba(0,0,0, 0.4);
	z-index: 900;
	position: relative;
	width: 100%;
	max-width: 100%;
	text-align: center;
}

.trackserver-infobar {
	z-index: 800;
	margin-left: 50px;
	margin-right: 20px;
	color: white;
}

.trackserver-tooltip {
	padding: 0px !important;
}

.leaflet-control-fullscreen a {
    background-size:100% !important;
}

.leaflet-control-liveupdate a {
    background-size:100% !important;
}

.leaflet-fullscreen-on .leaflet-control-fullscreen a {
    background-position:0 bottom !important;
}

.leaflet-liveupdate-on a {
    background-position:0 bottom !important;
}

